.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.idea
.claude
.cursor
apps/fun-docs/.husky
apps/fun-docs/.dumi
apps/fun-docs/node_modules
apps/fun-docs/dist
