// 全局样式
.ant-tooltip-inner {
  white-space: pre-wrap;
}

.fun-table-row-button {
  padding: 0;
  margin-left: 4px;
  &:first-child {
    margin-left: 0;
  }
}

// 处理换行后的第一个按钮
.fun-table-row-button-first {
  margin-left: 0 !important;
}
